<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am currently a Senior Security Engineer at <a href="https://praetorian.com/">Praetorian</a> performing white-hat penetration testing services. My specialties are computer architecture, security, and software design.</p></div><!--//summary-->
</section><!--//section-->
