 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MS Electrical and Computer Engineering</h4>
    <h5 class="meta">Purdue University</h5>
    <div class="time">2015 - 2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BS Electrical and Computer Engineering</h4>
    <h5 class="meta">The University of Texas at Austin</h5>
    <div class="time">2010 - 2014</div>
</div><!--//item-->
</div><!--//education-container-->
