<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Security Engineer Intern</h3>
                            <div class="time">May 2016 - August 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Praetorian, Austin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Performed red team penetration tests and vulnerability assessments for Fortune 1000 companies. Executed social engineering phishing campaigns for user awareness training. Collaborated with colleagues for development of a streamlined internal reporting system.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graduate Verification Enablement Engineer</h3>
                            <div class="time">January 2015 - July 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">ARM, Austin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Wrote verification templates for compliance testing using a random architectural verification engine (RAVEN) for a variable vector length SIMD ISA. Benchmarked templates against architectural coverage to verify correctness. Developed directed tests which stressed the ISA using tables of "interesting" numbers.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UI Developer</h3>
                            <div class="time">May 2013 - August 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Telogis, Austin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Coded a web application in ASP.NET MVC3, and JavaScript to execute scripts on remote linux machines. Developed an algorithm to filter invalid data for an application which reported the statistical probability that a driver would speed on a certain street. Interfaced a raspberry pi to stress test the tracking units.</p>  
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
